* , *::before, *::after { box-sizing: border-box;
margin: 0;
padding: 0; }
html, body {
  height: 100%;
 width: 100%;
  font-family: Inter, system-ui, sans-serif;
  color: black;
}
.main{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 5rem 0px;
background-size: cover;
background-position: center;
}
.card-section{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.vs-div{
  font-size: 5rem;
  font-weight: 700;
}
.card{
  width: 20rem;
  padding: 0.7rem;
  background-color: yellow;
  border-radius: 0.5rem;
  position: relative;


}
.basic-title{
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0rem 0.3rem;
  background-color: rgb(144, 143, 143);
  width: fit-content  ;
  box-shadow: inset 2px 2px 5px rgb(210, 209, 209);
  border-radius: 10px;
  position: absolute;
  top: 0.2rem;
  left: 0.5rem;
}
.inner-card{
  width: 100%;
  background:url(https://pngmagic.com/webp_images/yellow-background-texture-hd.webp) ;
  border: 1px solid rgba(128, 128, 128, 0.336);
  height: 100%;
  background-size: cover;
  padding: 0px 0.3rem;
}
.top{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}
.right-top p{
  font-weight: 600;
  font-size: 1.1rem;
  
}
.top span{
  font-size: 0.8rem;
  font-weight: 600;

}
.middle{
  width: 100%;
  border: 5px solid rgba(161, 161, 161, 0.884);
  box-shadow:2px 2px 5px rgb(210, 209, 209);
  border-radius: 0.3rem;
 

}
.middle img{
  width: 100%;
  height: 10rem;
  object-fit: contain;
}
.bottom{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.4rem 0rem 0.4rem;
}
.container1{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  

}
.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 1rem 0rem;
    
}
.container3{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}
.stats-name{
  font-size: 0.5rem;
  text-transform: uppercase;
}
.first-row, .second-row{
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.first-row p{
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.second-row p{
  font-size: 0.7rem;
  font-weight: 600;
}
.second-row span{
  font-size: 0.5rem;
}
