@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

* , *::before, *::after { box-sizing: border-box;
margin: 0;
padding: 0; }
html, body {
  height: 100%;
 width: 100%;
  /* font-family: Inter, system-ui, sans-serif; */
   font-family: "Pixelify Sans", sans-serif;
  color: black;
}
.main{
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
gap: 3.6rem;
justify-content: center;
padding: 1rem 0rem;

background-position: center;
background-size: cover;
position: relative;
}
.main video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  
}
.logo{
  width: 6rem;
  height: auto;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5;
}
.main > h1{
  color: white;
  font-size: 3rem;
    font-family: "Press Start 2P", system-ui;
  text-shadow: 2px 2px 5px black;
}
/* WINNER-CONTAINER */

.winDisplay{
  height: 12rem;
  width: 15rem;
  border-radius: 10px;
  border: 5px solid white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:yellow ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  gap: 0.4rem;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);

}
.winDisplay h3{
  font-size: 2rem;
  font-weight: 700;
  
}
.winDisplay img{
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
/* CARD_SECTION */
.card-section{
  display: flex;
  align-items: center;
  gap: 2rem;
}
.vs-div{
  font-size: 5rem;
  font-weight: 700;
  color: white;
}
.card{
  width: 20rem;
  padding: 0.7rem;
  background: radial-gradient(yellow, black, yellow);
  border-radius: 0.5rem;
  position: relative;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  


}



.basic-title{
  font-weight: 700;
  font-size: 0.7rem;
  padding: 0rem 0.3rem;
  background-color: rgb(144, 143, 143);
  width: fit-content  ;
  box-shadow: inset 2px 2px 5px rgb(210, 209, 209);
  border-radius: 10px;
  position: absolute;
  top: 0.2rem;
  left: 0.5rem;
}
.inner-card{
  width: 100%;
  background:url(https://pngmagic.com/webp_images/yellow-background-texture-hd.webp) ;
  border: 1px solid rgba(128, 128, 128, 0.336);
  height: 100%;
  background-size: cover;
  padding: 0px 0.3rem;
}
.top{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}
.top>h1{
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 700;
  padding: 0.3rem 0rem;
}
.right-top p{
  font-weight: 600;
  font-size: 1.1rem;
  
}
.top span{
  font-size: 0.8rem;
  font-weight: 600;

}
.middle{
  width: 100%;
  border: 5px solid rgba(161, 161, 161, 0.884);
  box-shadow:2px 2px 5px rgb(210, 209, 209);
  border-radius: 0.3rem;
 

}
.middle img{
  width: 100%;
  height: 10rem;
  object-fit: contain;
}
.bottom{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0.4rem 0rem 0.4rem;
}
.container1{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  

}
.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
  padding: 1rem 0rem;
    
}
.container3{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}
.stats-name{
  font-size: 0.5rem;
  text-transform: uppercase;
}
.first-row, .second-row{
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.first-row p{
  display: flex;
  justify-content: center;
  font-weight: 500;
}
.second-row p{
  font-size: 0.7rem;
  font-weight: 600;
}
.second-row span{
  font-size: 0.5rem;
}
/* BUTTON_SECTION */

.btngroup{
  
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
  
}
.btngroup button{
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  background: linear-gradient(rgb(204, 231, 204), lightgreen);
  border: 2px solid rgb(12, 92, 12);
  border-radius: 10px;
  box-shadow: inset -2px -7px 7px rgb(22, 137, 22);
  
  transition: all 0.3s ease-in-out;
   font-family: "Pixelify Sans", sans-serif;
}
.btngroup button:hover{
  transform: scale(1.05);
  cursor: pointer;
  
}
#fightbtn{
  background: linear-gradient(rgb(232, 195, 127), rgb(247, 176, 44));
  box-shadow: inset -2px -7px 5px rgb(200, 131, 4);
  border: 2px solid rgb(184, 125, 15);
  color: white;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;

}
.btngroup button:active{
  transform: scale(0.95);
}