* , *::before, *::after { box-sizing: border-box;
margin: 0;
padding: 0; }
html, body {
  height: 100%;
 width: 100%;
  font-family: Inter, system-ui, sans-serif;
  color: black;
}
.main{
  height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
padding: 5rem 0px;
background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/aeca1614-ab29-413b-867d-5f2f40cef9cd/dgan59b-7bccfe54-99b5-44e1-b232-6cb7a3a4a050.png/v1/fill/w_1095,h_730,q_70,strp/anime_style_landscape_by_awesomeidea_dgan59b-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODU0IiwicGF0aCI6Ii9mL2FlY2ExNjE0LWFiMjktNDEzYi04NjdkLTVmMmY0MGNlZjljZC9kZ2FuNTliLTdiY2NmZTU0LTk5YjUtNDRlMS1iMjMyLTZjYjdhM2E0YTA1MC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LnS5i6vUTrJpfN3H2Lj_qTWXfVkgBPnClS_qCYNQ33w);
background-size: cover;
background-position: center;
}
.card{
  width: 20rem;
  height: 30rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  position: relative;
}
.card img{
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
button{
  padding: 1rem 2rem;
  background-color: greenyellow;
  border: none;
  font-size: 1.5rem;

}
button:active{
  transform: scale(0.98);
}
.battle-ground{
  display: flex;
  gap: 10rem;
}
.btngroup{
  display: flex;
 
  gap: 10rem;
}
#fightbtn{
  background-color: rgb(240, 59, 59);
}
.winDisplay{
background-color: yellow;
display: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 1rem 2rem;
font-size: 2rem;
border: 2px solid black;
z-index: 10;
}